In [1]:
#Test

In [2]:
import string
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
col1 = list(string.ascii_uppercase)[:5]
col1
col2 = list(range(6))[1:6]
col2
tpl = list(zip(col1, col2))
tpl

[('A', 1), ('B', 2), ('C', 3), ('D', 4), ('E', 5)]

In [3]:
df = pd.DataFrame(tpl, columns = ['col1', 'col2'])

In [4]:
df

  col1  col2
0    A     1
1    B     2
2    C     3
3    D     4
4    E     5

In [22]:
#When shuffle=False, random_state is ignored
#When shuffle=False, data is picked from beginning of the dataframe
train1, test1 = train_test_split(df, test_size = 0.4, shuffle=False, random_state=None)
print(train1)
print('')
print(test1)

  col1  col2
0    A     1
1    B     2
2    C     3

  col1  col2
3    D     4
4    E     5

In [10]:
#When shuffle=False, random_state is ignored
#When shuffle=False, data is picked from beginning of the dataframe
train2, test2 = train_test_split(df, test_size = 0.4, shuffle=False, random_state=1)
print(train2)
print('')
print(test2)

  col1  col2
0    A     1
1    B     2
2    C     3

  col1  col2
3    D     4
4    E     5

In [21]:
#When shuffle=True, random_state=None, everytime different data is selected
train3, test3 = train_test_split(df, test_size = 0.4, shuffle=True, random_state=None)
print(train3)
print('')
print(test3)

  col1  col2
2    C     3
3    D     4
1    B     2

  col1  col2
0    A     1
4    E     5

In [20]:
#When shuffle=True, random_state=Number, TODO
train4, test4 = train_test_split(df, test_size = 0.4, shuffle=True, random_state=1)
print(train4)
print('')
print(test4)

  col1  col2
4    E     5
0    A     1
3    D     4

  col1  col2
2    C     3
1    B     2